In [8]:
import pandas as pd
import sqlalchemy as sq

In [15]:
owners = pd.read_csv (r'C:\Users\tuckw\Desktop\Watson_Tucker_python2\owners.csv')
puppies = pd.read_csv (r'C:\Users\tuckw\Desktop\Watson_Tucker_python2\puppies.csv')
con=sq.create_engine('mysql+pymysql://root:password123@localhost/our_puppies')

ModuleNotFoundError: No module named 'pymysql'

In [5]:
owners.head()

   id    name  puppy_id
0   1   Casey         1
1   2  Walter         2
2   3   Kiley         3
3   4    Greg         4
4   5    Liam         5

In [21]:
puppies.head()

   id   name        color
0   1  Ryder         Gold
1   2   Nash        Black
2   3    Blu  Black Spots
3   4   Ghia        Brown
4   5  Pudge         Grey

In [24]:
count_row_pup = puppies.shape[0]

In [25]:
print(count_row_pup)

10

In [26]:
count_row_owners = owners.shape[0]

In [27]:
print(count_row_owners)

10

In [28]:
count_columns_pup = puppies.shape[1]

In [29]:
print(count_columns_pup)

3

In [30]:
count_columns_owners = owners.shape[1]

In [31]:
print(count_columns_owners)

3

In [33]:
bycolor = pup.groupby('color')

In [35]:
bycolor.size()

color
Black          2
Black Spots    1
Brown          3
Cream          1
Gold           1
Grey           1
White          1
dtype: int64