In [41]:
import pandas as pd
import sqlalchemy as sq
import pymysql
import mysql.connector

connection = mysql.connector.connect(
host='localhost',
user='root',
passwd = 'password123',
)

cursor=connection.cursor()

In [42]:
con=sq.create_engine('mysql+pymysql://root:password123@localhost/our_puppies')

In [43]:
pupdata = pd.DataFrame({"id":[1,2,3,4,5,6,7,8,9,10],"name":["Ryder","Nash","Blu","Ghia","Pudge","Speedy","Axe","George","Ezreal","Hikaru"],"color":["Gold","Black","Black Spots","Brown","Grey","White","Brown","Cream","Black","Brown"]})
owndata = pd.DataFrame({"id":[1,2,3,4,5,6,7,8,9,10],"name":["Casey","Walter","Kiley","Greg","Liam","Amanda","Pheobe","Kevin","Emir","Chris"],"puppy_id":[1,2,3,4,5,6,7,8,9,10]})

In [46]:
pupdata.to_sql("puppies",con,if_exists="append",index=False)
owndata.to_sql("owners",con,if_exists="append",index=False)

In [47]:
owndata.head()

   id    name  puppy_id
0   1   Casey         1
1   2  Walter         2
2   3   Kiley         3
3   4    Greg         4
4   5    Liam         5

In [48]:
pupdata.head()

   id   name        color
0   1  Ryder         Gold
1   2   Nash        Black
2   3    Blu  Black Spots
3   4   Ghia        Brown
4   5  Pudge         Grey

In [49]:
count_row_pup = pupdata.shape[0]

In [50]:
print(count_row_pup)

10

In [51]:
count_row_owners = owndata.shape[0]

In [52]:
print(count_row_owners)

10

In [53]:
count_columns_pup = pupdata.shape[1]

In [54]:
print(count_columns_pup)

3

In [55]:
count_columns_owners = owndata.shape[1]

In [56]:
print(count_columns_owners)

3

In [57]:
bycolor = pupdata.groupby('color')

In [58]:
bycolor.size()

color
Black          2
Black Spots    1
Brown          3
Cream          1
Gold           1
Grey           1
White          1
dtype: int64